@page
@model HCM.Web.Pages.AddEmployeeModel
@{

}

<form class="needs-validation" method="post" novalidate>
    <div class="row g-3">

        <div class="col-sm-4">
            <label for="firstName" class="form-label">First name</label>
            <input asp-for="AddEmployee.FirstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>

        <div class="col-sm-4">
            <label for="middleName" class="form-label">Middle name <span class="text-body-secondary">(Optional)</span></label>
            <input asp-for="AddEmployee.MiddleName" type="text" class="form-control" id="middleName" placeholder="" value="">
            <div class="invalid-feedback">
                Valid middle name is required.
            </div>
        </div>

        <div class="col-sm-4">
            <label for="lastName" class="form-label">Last name <span class="text-body-secondary">(Optional)</span></label>
            <input asp-for="AddEmployee.LastName" type="text" class="form-control" id="lastName" placeholder="" value="">
            <div class="invalid-feedback">
                Valid last name is required.
            </div>
        </div>

        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input asp-for="AddEmployee.Email" type="email" class="form-control" id="email" placeholder="you@example.com" value="" required>
            <div class="invalid-feedback">
                Please enter a valid email address.
            </div>
        </div>

        <div class="col-12">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input asp-for="AddEmployee.PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="+359555555555" value="" required>
            <div class="invalid-feedback">
                Please enter a valid phone number.
            </div>
        </div>

        <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input asp-for="AddEmployee.Address" type="text" class="form-control" id="address" placeholder="1234 Main St" value="" required>
            <div class="invalid-feedback">
                Please enter your current address.
            </div>
        </div>

        <div class="col-4">
            <label for="manager" class="form-label">Manager</label>
            <select asp-for="AddEmployee.ManagerId" class="form-select" id="manager" required>
                <option value="" selected>None</option>
                @foreach (var employee in Model.EmployeeList)
                {
                    <option value="@employee.Id">@employee.FullName()</option>
                }
            </select>
        </div>

        <div class="col-4">
            <label for="nationalId" class="form-label">National ID</label>
            <input asp-for="AddEmployee.NationalIdNumber" type="text" class="form-control" id="nationalId" placeholder="9000000000" value="">
        </div>

        <div class="form-check form-switch col-4 align-content-end pb-2">
            <input asp-for="AddEmployee.IsEuCitizen" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">EU Citizen</label>
        </div>

        <div class="col-4">
            <label for="dateOfBirth" class="form-label">Date Of Birth</label>
            <input asp-for="AddEmployee.DateOfBirth" type="date" class="form-control" id="dateOfBirth" value="">
        </div>

        <div class="col-4">
            <label for="gender" class="form-label">Gender</label>
            <select asp-for="AddEmployee.Gender" class="form-select" id="gender" required>
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="col-4">
            <label for="salaryAmount" class="form-label">Starting Salary</label>
            <input asp-for="AddEmployee.StartingSalary" type="number" min="0" step="0.01" class="form-control" id="salaryAmount" placeholder="1234" value="">
        </div>

        <div class="col-4">
            <label for="hiredAt" class="form-label">Effective Date</label>
            <input asp-for="AddEmployee.HiredAt" type="date" class="form-control" id="hiredAt" value="">
        </div>

    </div>



    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Add Employee</button>
</form>
